.profile{
    display: flex;
    align-items: center;
}
.text{
    color: #000;
    font-size: 20px;
    margin-right: 20px;
}

.button {
    width: 80px;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(167, 203, 247);
}